<h2><%= @article.title %></h2>
<div id="pagecontent">
<%= @hbody %>
</div>
<footer>
<nav>
<% if auth_editor? %>
<a class="linkbutton" href="/edit/<%= @article.title %>">edit</a>
<% end %>
</nav>
</footer>
