<h2>edit <em><%= @title %></em></h2>
<form method="post" action="/edit">
  <input type="hidden" name="title" id="title" value="<%= @title %>" />
  <textarea name="body" id="body" rows="12" cols="80" /><%= @body %></textarea>
  <div class="formblock justc">
    <input class="linkbutton" type="submit" name="op" value="save" />
  </div>
</form>
