<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>tacha tacha</title>
  <link rel="stylesheet" type="text/css" href="/style/main.css" />
</head>
<body>
  <div id="pagewrapper">
    <header>
      <h1><a href="/">tacha tacha</a></h1>
    </header>
    <%= yield %>
  </div>
</body>
</html>
